@model HomeViewModel

<div>
    @if (Model.Title != null)
    {
        <h1>
            @Model.Title
        </h1>
    }
    @if (Model.Content != null)
    {
        <p>
            @Model.Content
        </p>
        <p><img src="@Model.HeroImageUrl"/></p>
        <p>
            This home page has its counterpart on <a href="/index-from-cms">index-from-cms</a> route. Content on this page is fetched from the Headless CMS via API at the build time.
        </p>
    }
</div>